personal_cache/maintainer_creds.txt
personal_cache/credentials.txt
utility_modules/__pycache__/capture.cpython-311.pyc
utility_modules/__pycache__/move_ctype.cpython-311.pyc
.idea/misc.xml
.idea/10wow_reboot.iml
screenshot.png
